
.jumbotron {
    background-color: #4c4c4c;
}

p.home {
    font-size : 3em;
    color: #0E6ABF;
}
.hovercraft p {
     font-size: 12vw;
}

html {
    background-color: #4c4c4c;
}


.nav-tabs>li>a {
    background-color: #0E6ABF;
    border: 0;
    color:#fff;
}

.nav-tabs>li.active>a {
    color : #0E6ABF;
    background-color: #F1FFF8;
}

.nav-tabs>li.active>a:hover {
    color: #ffffff;
    background-color: #0E6ABF;
    border: 0 ;
}


.nav-tabs>li>a:hover {
    border: 0;
    background-color: #F1FFF8;
    color: #0E6ABF;
}

.carousel {
    vertical-align : middle;
}
.carousel-inner img {
    margin: auto;
}

.splashktank {
    position:relative;
}
.jumbotron {
    padding-top: 5%;
    overflow: hidden;
}

.hovercraft {
    position: absolute;
    left: 101.5%;
    top: 20vw;
    z-index: 2;
}
@media (max-width: 768px) {
    .hovercraft {
        margin-top: 30%;
    }
}
div.carousel-inner img {
    margin: auto auto;
}