

p.home.text-center {
    font-size : 6vw;
    color: #0E6ABF;
}

html {
    background-color: #4c4c4c;
}
body{
    background-color: #4c4c4c;
}


.nav-tabs>li>a {
    background-color: #0E6ABF;
    border: 0;
    color:#fff;
}

.nav-tabs>li.active>a {
    color : #0E6ABF;
    background-color: #F1FFF8;
}

.nav-tabs>li.active>a:hover {
    color: #ffffff;
    background-color: #0E6ABF;
    border: 0 ;
}


.nav-tabs>li>a:hover {
    border: 0;
    background-color: #F1FFF8;
    color: #0E6ABF;
}

.carousel {
    vertical-align : middle;
}
.img-rounded{
    margin: auto;
    width: auto;
}

.splashktank {
    position:relative;
}
.jumbotron {
    Padding-top: 5%;
    overflow: hidden;
    background-color: #4c4c4c;
}

.hovercraft {
    position: absolute;
    left: 101.5%;
    top: 20vw;
    z-index: 2;
}
@media (max-width: 768px) {
    .hovercraft {
        margin-top: 30%;
    }
}

.faqss {
    /*width: auto;*/
    background-color: #F1FFF8;
    border-radius: 10px;
    padding: 5vw 5vw;
}
.accordion {
    text-align: center;
    font-size: 2.5vw;
    color: #0E6ABF;
}
.accordion-inner{
    font-size: 2vw;
}
.accordion-inner>a {
    text-decoration: underline;
    color: blue;
}
.accordion-heading {
    border-radius: 10px;
    width: 100%;
    background-color: #0E6ABF;
    color: #ffffff;
    border-style: outset;
}
.accordion-toggle {
    color: #ffffff;
}
.rightpanel{
    text-align: center;
    background-color: #F1FFF8;
    color: #0E6ABF;
    height: 50vw;
    border-radius: 10px;
    border-style: outset;
}
button {
    margin: 0 auto;
    height: 80%;
    width: 100%;
}
.btn-lg{
    border-style:outset;
    margin-top: .5%;
}
.leftpanel {
    text-align: center;
    background-color: #F1FFF8;
    color: #0E6ABF;
    height: 50vw;
    border-radius: 10px;
    border-style: outset;

}
.jumbotron p{
    font-size : 2vw;
}
.jumbotron h1{
    font-size: 3vw;
    color: #0c5fac;
    font-weight: 700;
}
.sendemail {
    text-align: center;
}
.centerme{vertical-align: middle}

.ui-datepicker {
    background-color: #0E6ABF;
}